@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}